@use '../abstracts/' as *;

.about__data {
  text-align: center;
}

.about__description span {
  font-size: $f-size-h2;
  font-weight: $f-wight-semi-bold;
  color: $fco-dark;
}

.about__number {
  font-size: $f-size-h1;
  display: block;
  color: $fco-special--dark;
}

.about__achievement {
  font-weight: $f-wight-medium;
}

.about__img {
  justify-self: center;
  width: 14rem;
  border-radius: $b-radius-normal;
}

//// media queries

@include minQuery($bp-mobile-hr) {
  .about__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@include minQuery($bp-tablet-sm) {
  .about__img {
    width: 20rem;
  }
}
