@use '../abstracts/' as *;

.footer {
  background-color: $bgco-action--primary;
  color: $fco-light;
  text-align: center;
}

.footer__container {
  padding: $padding-6 0;
  @include flex-col-center;
}

.footer__title {
  color: $fco-special--light;
  font-size: $f-size-h1;
  margin-bottom: $margin-1;
  font-weight: $f-wight-semi-bold;
}

.footer__description {
  margin-bottom: $margin-3;
}

.footer__social {
  margin-bottom: $margin-6;
}

.footer__social-icon {
  transition: 0.3s;

  svg {
    width: 1.4rem;
    height: 1.4rem;
    fill: $fco-special--light;
    margin: 0 $margin-1;
  }
}

.footer__social-icon:hover {
  svg {
    fill: $fco-light--darker;
  }
}

.footer__copy {
  font-size: $f-size-x-small;
  color: $fco-light--darker;

  a:link,
  a:visited,
  a:hover,
  a:active {
    color: $fco-light;
  }
}

.footer__img {
  width: 10rem;
  height: 3rem;
  margin-bottom: $margin-3;

  .animateMe {
    position: relative;

    .myHead {
      width: 3rem;
      position: absolute;
      top: -3.1rem;
      left: 3.4rem;
      z-index: $z-tooltip;
    }

    .myTricycle {
      width: 4rem;
      position: absolute;
      left: 2rem;
    }
  }
}

//// animations

.shake-bottom {
  animation: shake-bottom 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite
    alternate both;
}

.shake-bottom-2 {
  animation: shake-bottom 1.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite
    alternate both;
}

.cycle {
  animation: cycle 3s ease-in-out both infinite;
}

@keyframes cycle {
  0% {
    transform: translateX(8rem);
    opacity: 0;
  }
  50% {
    transform: translateX(-4rem);
    opacity: 1;
    transform: rotateY(180deg);
  }
  100% {
    transform: translateX(-8rem);
    opacity: 0;
  }
}
