@use '../abstracts/' as *;

.button {
  display: inline-block;
  background-color: $bg-color--primary;
  color: $bg-color--primary-lighter;
  padding: $padding-2 $padding-3;
  border-radius: $b-radius-normal;
  transition: 0.3s;
}

.button:hover {
  background-color: $bg-color--primary-dark;
}

.button-light {
  background-color: $bg-color--primary-light;
}

.button-white {
  background-color: $bg-color--primary-lighter;
  color: $bg-color--primary-dark;
}

.button-white:hover {
  background-color: $bg-color--primary-light;
}

.button-link {
  transition: 0.4s;
  margin-right: $margin-2;

  svg {
    width: 3rem;
    height: 3rem;
    fill: $bg-color--primary;
  }
}

.button-link:hover {
  background: none;
  transform: scale(1.1);
}
