@use '../abstracts/' as *;

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-fixed;
  background-color: #000;
}

.nav {
  height: $nav-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__item {
  margin-bottom: $margin-3;
}

.nav__link {
  color: $bg-color--primary-lighter;
  transition: 0.3s;
}

.nav__link:hover {
  color: $bg-color--primary-light;
}

.nav__logo,
.nav__toggle {
  color: $bg-color--primary-lighter;
}

.toggler__svg {
  width: 1.3rem;
  height: 1.3rem;
  cursor: pointer;
}

// show and hide the menu on click
.show-menu {
  top: $nav-height;
}

// active link in the menu
.active-link {
  position: relative;
}

.active-link::after {
  content: '';
  position: absolute;
  bottom: -0.7rem;
  left: 0;
  width: 65%;
  height: 0.3rem;
  background-color: $bg-color--primary-light;
  border-radius: $b-radius-normal;
}

// scroll to the top icon

.scrollTop {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  @include flex-col-center;
  padding: $padding-1;
  background-color: rgba(123, 111, 113, 0.7);
  border-radius: $b-radius-normal;
  z-index: $z-tooltip;
  transition: 0.4s;
  visibility: hidden;
}

.scrollTop:hover {
  background-color: $bg-color--primary;
}

.scrollTop__icon {
  width: 1.3rem;
  height: 1.3rem;
  cursor: pointer;
}

// show hide scrollTop icon

.show-scroll {
  visibility: visible;
  bottom: 1.5rem;
}

//// media queries

@include maxQuery($bp-tablet-sm) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    padding-top: $padding-3;
    text-align: center;
    background-color: #000;
    transition: 0.4s;
    box-shadow: $b-shadow-normal;
    border-radius: 0 0 $b-radius-normal $b-radius-normal;
  }
}

@include minQuery($bp-tablet-sm) {
  .nav {
    height: calc($nav-height + 1.5rem);
  }

  .nav__list {
    display: flex;
  }

  .nav__item {
    margin-left: $margin-5;
    margin-bottom: 0;
  }

  .nav__toggle {
    display: none;
  }
}
