@use './variables' as *;
@use './typography' as *;
@use './mixins' as *;

.section {
  padding: 4rem 0 2rem;
}

.section-title,
.section-subtitle {
  text-align: center;
}

.section-title {
  font-size: $f-size-h1;
  color: $bg-color--primary;
  margin-bottom: $margin-3;
}

.section-subtitle {
  display: block;
  font-size: $f-size-x-small;
  font-weight: $f-wight-semi-bold;
}

.bd-container {
  max-width: 1024px;
  width: calc(100% - 2rem);
  margin: 0 $margin-2;
}

.bd-grid {
  display: grid;
  gap: 1.5rem;
}
