@use './variables' as *;
@use './mixins' as *;

:root {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

// decimal rems!
body {
  font-size: 1.6rem;
}

// media queries for root
@include mQuery($bp-mobile-md) {
  :root {
    font-size: 100%;
  }
}

@include mQuery($bp-tablet-sm) {
  :root {
    font-size: 110%;
  }
}

@include mQuery($bp-laptop-sm) {
  :root {
    font-size: 120%;
  }
}

@include mQuery($bp-desktop-sm) {
  :root {
    font-size: 150%;
  }
}
