// COLORS //////////////////////////////////

//Background colors
$bg-color--primary: #3e0e12;
$bg-color--primary-dark: #2f0a0d;
$bg-color--primary-light: #7b6f71;
$bg-color--primary-lighter: #fbf9f9;

//Font colors
$font-color-primary: #524748;

// SHADOWS //////////////////////////////////

$b-shadow-normal: 0rem 0.5rem 0.5rem #00000040;
$b-shadow-special: 0rem 0.7rem 0.7rem #00000040;
$b-shadow-active: 0rem 0.3rem 0.3rem #00000040;

// SPACING //////////////////////////////////

// paddings

$padding-1: 0.5rem;
$padding-2: 1rem;
$padding-3: 1.5rem;
$padding-4: 2rem;
$padding-5: 2.5rem;
$padding-6: 3rem;

// margins

$margin-1: 0.5rem;
$margin-2: 1rem;
$margin-3: 1.5rem;
$margin-4: 2rem;
$margin-5: 2.5rem;
$margin-6: 3rem;

// Z-INDEXES //////////////////////////////////

$z-normal: 100;
$z-tooltip: 1000;
$z-fixed: 10000;

// BORDER-RADIUS //////////////////////////////////

$b-radius-normal: 0.5rem;
$b-radius-special: 1rem;

// TRANSITION //////////////////////////////////

$transition-normal: all 0.5s ease-in-out;

// Nav height //////////////////////////////////

$nav-height: 3rem;

// BREAKPOINTS //////////////////////////////////

// Mobile-first (use min-width in the media queries)

// mobile
$bp-mobile-md: 360px;

// tablet
$bp-tablet-sm: 760px;

// laptop
$bp-laptop-sm: 1024px;

// desktop
$bp-desktop-sm: 1900px;
